//General clasess
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.link_expositores {
    color: #000;
    :hover {
        color: #000;
    }
}

.tooltip {
    z-index: 0 !important;
}

.pdt25 {
    padding-top: 25px;
}

.pd1{
    padding-left: 1px;
    padding-right: 1px;
}

.boton_componentes_flotante {
    position: fixed;
    background-color: #37af04e6;
    z-index: 1;
    border-radius: 4px;
    margin-top: -25%;
    margin-left: -80px;
    offset-rotate: 90px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.change_units_resumen_component {
    width: 60%;
}

.img_color_product {
    width: 100%;
    height: 100%;
    vertical-align: inherit;
}

.content-lacados.row {
    margin-right: 12px;
}

.btn-flotante {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
/*    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    writing-mode: vertical-rl;*/
}

tr.tr_id_select {
    background-color: #d7d7d7;
}

.icon_exchange_presupuestos, .icon_trash_presupuestos, .icon_repeat_presupuestos, .delete-concepto {
    cursor: pointer;
}

.icon_repeat_presupuestos {
    color: #ffa500;
}

.title_boton_flotante {
    color: #FFFFFF;
    font-size: 16px;
}

.button-modal-help{
    cursor: pointer;
    color: #000000;
    font-size: 1em;
    margin-left: 10px;
    background-color: #37af04;
    margin-top: 26px;
}

.mt-25 {
    margin-top: 25%;
}

.mt-15 {
    margin-top: 15px;
}

.img_components {
    width: 100px;
    height: 75px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.border_components {
    margin: 0 !important;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: -7px 4px 15px -6px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: -7px 4px 15px -6px rgba(0, 0, 0, 0.83);
    box-shadow: -7px 4px 15px -6px rgba(0, 0, 0, 0.83);
}

.border_components.border_units_components {
    background-color: #dedede;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.input_unit_components {
    width: 55px !important;
    margin-left: 5px;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.line_lacados {
    margin-top: 10px;
}

.container_historial {
    .content_buttons_historial > li > a {
        color: #000;
    }
    .content_buttons_historial > li.active a {
        color: #000 !important;
        background-color: #dddddd !important;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    }
    .max-w50 {
        max-width: 50%;
    }
}

.expositores_ventana{
    height: 24px !important;
}

.div_title_expositores {
    padding-left: 0;
    padding-right: 0;
    height: 50px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
    background: rgb(225, 225, 225); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    div{
        padding: 0;
    }
    .text {
        color: @color_secundario;
    }
    .price {
        color: @color_principal;
        font-weight: lighter;
    }
}

.div_unidades_expositores {
    display: inline-flex;
    input {
        width: 50%;
        margin-right: 4px;
        margin-left: 8%;
    }
    .text_uds {
        margin-top: 2px;
    }
}

.content_product_expositores {
    margin-bottom: 10px !important;
}

.div_imagen_expositor {
    margin-top: 180px !important;
}

.div_resumen_expositores {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contenido_expositor_border {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 10px;
    min-height: 345px !important;
}

.div_img_expositores {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line_total_expositores {
    margin-top: 10px;
}

.pagination_historial {
    text-align: center;
}

.pagination_historial_li > a {
    color: #6d6d6d !important;
}

.pagination_historial_li_active > a {
    background-color: @color_principal !important;
    color: #FFF !important;
}

.bg-color-grey {
    background-color: #d4d4d4;
}

.bg-color-white {
    background-color: #fff;
}

.content_table_historial {
    padding-bottom: 10px;
    margin-left: 0;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    .file_historial {
        margin-left: 0;
        height: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }
    .first_line_table {
        font-weight: bold;
        margin-bottom: 4px;
        margin-top: 4px;
        margin-left: 0;
    }
    .file_historial.bg-color-line {
        background-color: #dddddd;
    }
}

.head_components {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: @color_principal;
    color: #FFFFFF;
}

.btn_delete_line_component {
    margin-left: 10px;
    color: red;
}

.fila_components_products {
    margin-left: 0;
    margin-bottom: 2px;
}

.body_components .loading_gif {
    margin-top: 20%;
    margin-bottom: 10%;
}

.btn_search_component:focus {
    border-color: inherit !important;
}

.float-label-control > label {
    color: black !important;
    margin-top: 13px !important;
    background-color: #fff;
}

.line_product_component {
    margin-top: 5px;
}

.mfp-wrap {
    width: 70% !important;
    left: 15% !important;
    right: 15% !important;
}

.loading_gif {
    background-image: url('../images/loading1.gif');
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.mfp-container {
    background-color: #FFFFFF;
}

.delete_increment {
    font-size: 1.6em !important;
}

button.mfp-close {
    color: black;
}

.mfp-bg {
    background: rgba(0, 0, 0, .6);
}

.text_lupa {
    display: block;
    font-size: 12px;
    cursor: pointer;
}

.div_select_dire {
    background-color: @color_gris_hover1;
    border-radius: 4px;
    padding-bottom: 15px;
}

.btn_add_temporal_dire {
    background-color: #5bc0de;
    color: #FFFFFF;
}

.bg-border-info {
    border: 1px solid #5bc0de;
}

.bg-border-warning {
    border: 1px solid #f0ad4e;
}

.bg-border-success {
    border: 1px solid #449d44;
}

.bg-border-danger {
    border: 1px solid #ff0000;
}

.content_lupa_vista_previa {
    margin-right: 2%;
    text-align: right;
    margin-top: 215px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:focus {
    outline: none;
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

.container, body {
    background-color: #FFFFFF !important;
}

.container {
    height: 100%;
    max-width: 1024px;
}

.change_color_ral {
    width: 20%;
    margin-left: 4%;
}

.add_medidas_2 {
    margin-left: 5px;
    height: 40px;
    margin-top: -5px;
}

.content_options_components {
    display: inline-flex;
}

.content_lineas_medidas_componente {
    .mt-10;
    background-color: #eeeeee;
    margin-left: 0;
    .linea_medida_componente_check {
        border-bottom: 1px solid black;
        margin-left: 0px;
    }
}

.new_line_size_component {
    font-size: 20px;
    border: 1px solid #cfcfcf;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.delete_line_size_component {
    font-size: 20px;
    border: 1px solid #cfcfcf;
    padding: 2px;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
}

.table_product_0 .fa {
    color: #ffa500;
}

.change_color_component, .change_color_component_resumen {
    width: 30px;
    height: 30px;
    background-color: #F3F3F3;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.change_color_component_no_brut {
    background-color: #FFFFFF;
}

.ml-5 {
    margin-left: 5px;
}

.nopadding {
    padding: 0 !important;
}

.padding8 {
    padding: 8px !important;
}

.price_total, .price_cond_cliente {
    border: none;
}

.bg-red {
    background-color: red !important;
}

.alto_medida_componente.border-warning, .ancho_medida_componente.border-warning {
    background-color: red !important;
    color: #FFF !important;
}

@color_principal: #37af04;
@color_secundario: #5c595d;
@color_gris1: #e8e8e8;
@color_gris_hover1: #f5f5f5;

.mt-10 {
    margin-top: 10px;
}

.nomargin {
    margin: 0;
}

.condiciones_legales {
    background-color: @color_gris1;
    margin-right: 15px;
    font-size: 0.9em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    .title_condiciones {
        color: @color_principal;
        margin-right: 8px;
    }
    .title_condiciones_general {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.preview_color_lacado {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 4px;
}

.mt-3 {
    margin-top: 3%;
}

.ml-10 {
    margin-left: 5px;
    margin-right: 10px;
}

.ml-16 {
    margin-left: 16%;
}

.border_gris {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
}

textarea.noresize {
    resize: none;
    width: 100%;
    height: 100%;
}

.content_color_pedido {
    padding: 0 !important;
}

.noresize {
    resize: none;
}

.font-light {
    font-weight: normal;
}

.dropbtn {
    background-color: @color_principal;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropbtn.active {
    color: #FFFFFF !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0 !important;
}

.dropdown-content {
    text-align: left;
    a {
        width: 100% !important;
        display: block;
        padding: 3px 20px;
    }
    a:hover {
        background-color: @color_gris_hover1;
    }
}

.order_table {
    cursor: pointer;

}

.order_table:hover {
    background-color: @color_gris1;
}

#modal_option_product .image_croquis {
    width: auto;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center;
}

.image_croquis.image_muelle {
    width: 150px !important;
    margin-left: 60px !important;
}

.mt100 {
    margin-top: 100%;
}

.mt125 {
    margin-top: 125%;
}

.icono-lupa {
    color: @color_secundario;
}

.icono-lupa:hover {
    color: @color_secundario;
    text-decoration: none;
}

.icono-lupa:focus {
    text-decoration: none;
    outline: none;
    color: @color_secundario;
}

#modal_option_product .modal-dialog {
    width: 70%;
}

.border-warning {
    background-color: #FF0000;
    color: #FFFFFF;
}

.border-success {
    color: #000000;
}

.table_info_medidas {
    width: 100%;
    td {
        border: 2px solid #FFFFFF;
    }
}

.w75 {
    width: 75% !important;
}

.w90 {
    width: 90% !important;
}

.border-radius4 {
    border-radius: 4px;
}

.border-radius4:hover {
    border-radius: 4px;
}

.w100 {
    width: 100% !important;
}

.group_select {
    background-color: @color_secundario;
}

#modal_add_product .modal-dialog {
    width: 90%;
}

.col-8 {
    width: 12.5%;
}

.fa-exclamation-triangle {
    color: #FFA500;
}

.effect7 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding-top: 1%;
    padding-bottom: 1%;

}

.group_colors_modal, .group_colors_modal_components {
    display: inline-flex;
    margin-top: 5px;
}

.title_color_product_modal {
    margin-left: 3px;
    margin-top: 5px;
}

.title_color_product_modal_ral {
    display: none;
}

.message_units_increment {
    font-size: 12px;
}

.effect7:before, .effect7:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.search_components {
    width: 100%;
}

.check_search_components {
    cursor: pointer;
}

.icono_lupa_search_components {
    margin-top: 10px;
    right: 15px;
}

.btn_search_component {
    width: 100% !important;
}

.div_content_search_components {
    width: 100%;
}

.effect7:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.pb-3 {
    padding-bottom: 1% !important;
}

.title_line_product {
    font-weight: bold;
    margin-bottom: 1%;
}

.mb-10 {
    margin-bottom: 10px;
}

.content_index {
    height: 300px;
}

.note-editor {
    width: 90%;
    margin-left: 5%;
}

.popover-title, .popover-content {
    text-align: center;
    width: 200px;
}

.btn_modal_ini_contacto {
    margin-bottom: 3%;
}

.row_option_product {
    padding-right: 5px;
}

.confirmation-buttons {
    .btn-primary {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }
    .btn-default {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }
}

input.referencia {
    border-radius: 4px;
    margin-left: 10px;
}

.bg-yellow {
    background-color: #f7d93c;
}

.bg-red {
    background-color: #ff0000;
}

.bg-green {
    background-color: #4faf27;
}

.bg-grey {
    background-color: #e0e0e0;
}

.bg-dark-grey {
    background-color: #adadad;
}

.search_historial {
    width: 30%;
}

.mfp-wrap {
    width: 50%;
    left: 25%;
}

.title_info_product {
    cursor: pointer;
    color: #ffa500;
}

img.mfp-img {
    background-color: #FFFFFF !important;
}

.btn-grey {
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    background-color: #efefef;
}

.btn-option-line {
    padding: 4px;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
}

.toast-top-full-width {
    top: 25%;
    left: 25%;
    width: 50%;
}

.check_product_component, .text_agencia, .check_agencia {
    cursor: pointer;
}

.btn-submit-register-final{
    background-color: #e8e8e8;
}

//END General clasess

//HEADER
#header {
    margin-top: 1%;
    margin-bottom: 0 !important;
    width: 100%;

    #img_header {
        width: 100%;
        margin-left: 5%;
        max-width: 320px;
    }

    //SEARCH
    #div_search {
        margin-top: 3%;
        width: 80%;
        margin-left: 20%;
    }

    //END SEARCH

    .div_login {
        .btn_modal_ini {
            margin-right: 20px;
            vertical-align: top;
            background-color: @color_gris_hover1;
            border: 1px solid rgba(226, 226, 226, 0.4);
            border-radius: 4px;
        }
        a {
            text-decoration: none;
            color: #000000;
            font-size: 1em;
        }
        .dropdown-menu {
            background-color: @color_gris1;
        }
    }

    .icon-carrito {
        font-size: 18px;
        margin-right: 10px;
    }

    .div_lang a {
        display: inline-block;
    }
    .icon_flag {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
    }
    .flag-es, .flag-pt {
        height: 1.2em;
        width: 2em;
        background-position: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .flag-es {
        background-image: url('../images/flags/flags/flat/24/Spain.png');
    }
    .flag-pt {
        background-image: url('../images/flags/flags/flat/24/Portugal.png');
    }

    #nav_menu {
        width: 100%;
        display: inline-block;
        margin-top: 3%;
        .navbar-toggle {
            background-color: @color_principal;
            .icon-bar {
                background-color: #FFFFFF;
            }
        }
        .view_all_products {
            background-color: @color_principal;
            a {
                color: #FFFFFF;
                :hover {
                    color: #FFFFFF !important;
                }
            }
            :hover {
                background-color: @color_principal !important;
                color: #FFFFFF !important;
            }
        }
        .nav-menu-button {
            width: 100%;
            .list-inline {
                margin-left: 0 !important;
            }
        }
        .btn_menu {
            height: 50px;
            padding-top: 15px;
            outline: none;
        }
        .navbar-right {
            margin-right: 0 !important;
        }
        .dropdown {
            background-color: @color_principal;
            width: 30%;
            text-align: center;
        }
        .dropdown-menu {
            width: 100%;
            background-color: @color_gris1;
            padding-top: 0 !important;
        }
        a {
            text-decoration: none;
            color: #000000;
            font-size: 1em;
        }
        .li_button_shop {
            cursor: pointer;
            background-color: @color_secundario;
            color: @color_principal;
            .button_shop {
                color: @color_principal !important;
            }
            :hover {
                background-color: @color_gris1;
                color: @color_principal;
            }
        }
        .button_shop {
            text-align: center;
        }
    }
}

//END HEADER

//SLIDERS
#sliders {
    margin-top: 5%;
    #myCarousel {
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
        .carousel-inner {
            max-height: 287px !important;
            .item {
                img {
                    width: 100%;
                    max-width: 1024px;
                }
            }
        }
        .carousel-indicators {
            left: 4%;
            .active {
                background-color: @color_principal;
            }
        }
    }
}

//END SLIDERS

//FOOTER
.footer, footer {
    background-color: @color_secundario;
    color: #FFFFFF;
    a:hover {
        text-decoration: none !important;
        color: #FFFFFF;
    }
    ul {
        margin-top: 20px;
        li.title_footer {
            font-weight: bolder;
        }
        li.option_footer {
            cursor: pointer;
        }
    }
}

.footer_index {
    max-width: 1024px;
    left: auto !important;
    right: auto !important;
}

#modal_loading {
    z-index: 1051;
}

//END FOOTER

#content_product {
    height: auto;
    margin-bottom: 4%;
    margin-top: 2%;
    min-height: 110%;
    .panel-heading {
        cursor: pointer;
        background-color: rgba(204, 204, 204, 1);
        color: #000000;
        border: none !important;
    }
    .panel-heading.selected {
        border-bottom: 4px solid @color_principal !important;
        background-color: #FFFFFF;
    }
    .icon_product, .icon_subfamilia {
        height: auto;
        width: 30%;
        max-width: 70px;
    }
    .img_table_info {
        width: 100%;
    }
    .panel-default {
        padding: 0;
        background-color: #FFFFFF;
        margin-top: 5px;
    }
    .panel-collapse {
        height: auto;
        background-color: #FFFFFF;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 3%;
        padding-top: 3%;
        .form-group {
            margin-left: 3%;
        }
        .title-label {
            .ml-10;
        }
    }
    .radio {
        padding: 0;
        margin-top: 1%;
        margin-bottom: 1%;
        .title_label {
            .ml-10;
        }
        .selected {
            background-color: @color_secundario;
            color: @color_gris_hover1;
        }

        .title_subfamilia.selected {
            color: #000000 !important;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }
    }
    .div_colors {
        height: auto;
        display: inline-block;
        .color_product {
            cursor: pointer;
            display: inline-block;
            width: 30px;
            height: 20px;
            .border_gris
        }
        .title_color_product {
            cursor: pointer;
            vertical-align: top;
            margin-left: 5px;
        }
        .title_color_product.selected {
            background-color: @color_secundario;
            color: @color_gris_hover1;
        }
    }
    .div_preview {
        height: auto;
        display: inline-block;
    }

    .preview_img {
        margin-bottom: 3%;
        margin-top: 50%;
        background-repeat: no-repeat;
        height: 240px;
        width: 240px;
        background-size: contain;
        background-position: 50%;
        .border_gris;
    }

    .modal_preview_img {
        height: 240px;
        background-position-y: 0;
    }

    .panel-content-lineas-pedido {
        padding-top: 0 !important;
    }

    .content_lineas_pedido {
        width: 100%;
        text-align: left;
        .line_product {
            border: 1px solid @color_gris1;
            margin-top: 1%;
        }
        .line_product_component {
            border: 1px solid rgba(124, 124, 124, 0.15);
            border-radius: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .line_product_expositor {
            margin-top: 1%;
        }
        .title_color {
            font-size: 0.7em;
        }
        .title_increment_product {
            font-weight: bolder;
            font-size: 0.8em;
        }
        .segunda_linea_producto {
            margin-top: 1%;
        }
        .observaciones_product {
            resize: none;
            width: 75%;
            .border_gris;
            text-align: left;
            background-color: #e4e4e4;
        }
        .glyphicon {
            font-size: 20px;
            margin-left: 10px;
        }
        .input_resume {
            width: 75%;
        }
        .color_product_line {
            border: 1px solid black;
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: inline-block;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            border-radius: 4px;
        }
    }
    .total_line {
        margin-top: 3%;
    }

    .div_dire_entrega {
        border: 1px solid #ddd;
        height: 280px;
    }

    textarea.textarea_dire {
        resize: none;
        width: 100%;
        height: 50%;
        border: none;
        text-align: left;
    }

    .btn-editar-dire {
        cursor: pointer;
    }
}

.btn_ver_notas {
    width: 100%;
}

#modal_product_color {
    z-index: 1051;
    .color_product, .color_components {
        height: 30px;
        width: 30px;
        border: 1px solid black;
        cursor: pointer;
    }
}

.div_all_product {
    min-height: 120% !important;
}

.div_all_product_modal {
    margin: 0 !important;
}

.content_div_linea {
    min-height: 80% !important;
}

#content_company {
    #content_somos {
        margin-top: 16%;
        .logo_mosquiflex {
            width: 52px;
            height: 16px;
            background-image: url('../images/logo_small.png');
            background-repeat: no-repeat;
            display: inline-block;
        }
    }
    #content_estamos {
        margin-top: 3%;
        iframe {
            height: 100%;
            width: 100%;
            min-height: 515px;
        }
    }
    #div_contacto {
        hr {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
        height: 515px;
        margin-top: 3%;
        background-color: @color_gris1;
        border-radius: 4px;
        .info_estamos {
            span {
                font-size: 1em;
                color: #000000;
            }
            margin-top: 4%;
        }
        .form_contacto {
            margin-top: 4%;
            textarea {
                width: 94%;
                margin-left: 3%;
            }
            textarea, button {
                margin-top: 3%;
            }
        }
    }
}

#content_clientes {
    #form_login, #form_login_flotante {
        margin-bottom: 10%;
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        .title_form_login {
            font-size: 1.4em;
        }
        input {
            text-align: center;
        }
        .user_login {
            margin-bottom: 2%;
        }
        #pass_login {
            margin-bottom: 2%;
        }
    }
}

//Responsive mobile portrait
@media (min-width: 320px) AND (max-width: 567px) {

    * {
        font-size: 12px !important;
    }

    body, .container, html {
        //font-size: 12px !important;
        //background-color: green !important;
    }

    .align_left_mobile {
        text-align: left;
    }

    .content_option_search_mobile {
        display: inline-flex;
        padding-left: 0;
        padding-right: 0;
    }

    #header .div_login .btn_modal_ini {
        margin-right: 0 !important;
    }

    #header #div_search {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    #header #nav_menu {
        margin-top: 0 !important;
    }

    #header #nav_menu .nav-menu-button {
        display: inline-flex !important;
    }

    #header #nav_menu .dropdown-menu {
        white-space: nowrap;
    }

    .menu_area_clientes {
        min-width: 250px !important;
    }

    #content_company #content_somos {
        margin-top: 1% !important;
    }

    #sliders #myCarousel .carousel-indicators {
        left: 50% !important;
    }

    //modales
    .modal.in .modal-dialog {
        width: 90%;
        margin-top: 50%;
    }

    #content_company #content_estamos {
        height: 250px;
        padding: 0 !important;
        iframe {
            min-height: 250px;
        }
    }

    #modal_loading {
        .loading_gif {
            margin-top: 50%;
            margin-bottom: 50%;
        }
    }

    //products
    #content_product {
        margin-top: 0;
        .radio_product {
            text-align: center;
            label {
                padding-left: 2px;
            }
        }
        .radio_product_expositor {
            text-align: center;
            label {
                padding-left: 2px;
            }
        }
        .icon_product {
            margin-left: 25%;
            margin-right: 25%;
        }
        .content_radio_product {
            display: inline-flex;
        }
        .type-product {
            margin-bottom: 0 !important;
        }
        .producto_acabado {
            .icono-lupa {
                margin-top: 20% !important;
            }
        }
        .padding-left-0-mobile {
            padding-left: 0 !important;
        }
        .radio_subfamilia {
            .icon_subfamilia {
                margin-left: 20px !important;
            }
        }
        .div_producto_versiones {
            margin-bottom: 0 !important;
        }
        .div_colors {
            padding-left: 0;
            padding-right: 0;
        }
        .group_color_mobile {
            padding-left: 2px;
            padding-right: 2px;
        }
        .preview_img {
            width: 150px;
        }
        .div_group_lacado_mobile {
            display: inline-flex;
            .change_color_ral {
                width: 100% !important;
                margin-left: 4%;
                height: 24px;
            }

        }
        .float-label-control > label {
            margin-top: 0 !important;
        }
        .head_components {
            .nopadding;
            .title_mobile {
                padding: 0;
            }
        }
        .fila_components_products {
            .nopadding;
        }

    }

    //modal ver imagenes
    .mfp-wrap {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        height: 90% !important;
        top: 5% !important;
        bottom: 5% !important;
        .mfp-close {
            font-size: 24px !important;
        }
    }

    //area de clientes
    .container_historial {
        .content_buttons_historial {
            .nopadding;
            .nav-item {
                width: 50%;
            }
        }
        .content_table_historial {
            .nopadding;
        }
        .first_line_table, .file_historial {
            .nopadding;
        }
        .first_line_table > div, .file_historial > div {
            .nopadding;
        }
        .file_historial > div {
            padding-top: 3px !important;
            padding-left: 3px !important;
        }
        .button_group_historial_mobile {
            padding-left: 2px;
            padding-right: 2px;
        }
        .dropdown_button_group_historial_mobile {
            .nopadding;
            padding-left: 2px !important;
            padding-right: 2px !important;
            max-width: 100px !important;
            min-width: 0;
            li, button{
                width: 100%;
                margin-top: 2px;
                margin-bottom: 2px;
                a, span{
                    width: 100% !important;
                    padding: 0 !important;
                }
            }
        }
        .btn_ver_notas {
            height: 31px;
        }
        .pagination>li>a{
            padding: 4px 8px;
        }
    }
    .div_ficha_mobile > .nav > li{
        padding: 0 !important;
    }
    .div_ficha_mobile {
        .tab-content{
            padding: 0 !important;
        }
        .ver_datos_cliente{
            .form-group{
                padding: 0 !important;
            }
        }
    }

    //Modal añadir direccion envio
    #modal_add_dire_envio{
        .modal-dialog {
            width: 90% !important;
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 30%;
        }
    }

    //Modal notas
    #modal_edit_notas{
        .modal-dialog{
            width: 90% !important;
            margin-top: 15%;
            margin-bottom: 15%;
            margin-left: 5%;
            margin-right: 5%;
        }
        .close_modal_notas {
            font-size: 24px !important;
        }
    }

}

//Responsive mobile landscape
@media (min-width: 568px) AND (max-width: 767px) AND (orientation: landscape) {

    body, .container, html {
        //background-color: pink !important;
    }

    #header .div_login .btn_modal_ini {
        margin-right: 0 !important;
    }

    #header #div_search {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    #header #nav_menu {
        margin-top: 0 !important;
    }

    #header #nav_menu .nav-menu-button {
        display: inline-flex !important;
    }

    #header #nav_menu .dropdown-menu {
        white-space: nowrap;
    }

    .menu_area_clientes {
        min-width: 250px !important;
    }

    #content_company #content_somos {
        margin-top: 1% !important;
    }

    #sliders #myCarousel .carousel-indicators {
        left: 50% !important;
    }

    //modales
    .modal.in .modal-dialog {
        width: 90%;
    }

}

@media screen and (min-width: 768px) {

    body, .container, html {
        //background-color: blue !important;
    }

}

//Responsive mobile landscape
@media (min-width: 568px) AND (max-width: 767px) AND (orientation: portrait) {

    body, .container, html {
        //background-color: black !important;
    }

}

//Responsive tablet portrait
@media (min-width: 768px) AND (max-width: 1024px) AND (orientation: portrait) {

    body, .container, html {
        //background-color: purple !important;
    }

    #content_company #content_somos {
        margin-top: 5%;
    }

}

//Responsive tablet landscape
@media (min-width: 768px) AND (max-width: 1024px) AND (orientation: landscape) {

    .content_index {
        margin-top: 10%;
    }

    body, .container, html {
        //background-color: orange !important;
    }

    #header #nav_menu .btn_menu {
        height: 30px;
        padding-top: 5px;
    }

    #content_company #content_somos {
        margin-top: 15%;
    }

    .icon_product, .icon_subfamilia {
        max-width: 50px !important;
    }

    .icon_subfamilia {
        max-width: 60px !important;
    }

    #content_product {
        margin-top: 0 !important;
    }

    .panel-title {
        font-size: 1em;
    }

    .change_components {
        cursor: pointer;
    }

    .navbar-fixed-bottom {
        margin: 0;
    }

}

//Responsive pc
@media (min-width: 1025px) {

    body, .container, html {
        //background-color: springgreen !important;
    }

}

.content_pdf_help{
    width: 100%;
    height: 100%;
    .iframe_pdf{
        border: 0;
        width: 100%;
        height: 100%;
    }
}
