.nav-menu-button{
  color: #FFFFFF;
}

.navbar-nav>li>.dropdown-menu{
  margin-top: 12px;
}

.dropdown{
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 1.2em;
  color: #9d9d9d;
  :hover{
    color: #FFFFFF;
  }
}

.navbar-inverse .active {
  color: #FFFFFF;
}

@color_principal: #37af04;
@color_secundario: #5c595d;
@color_gris1: #e8e8e8;
@color_gris_hover1: #f5f5f5;

//FOOTER
footer{
  background-color: @color_secundario;
  margin-top: 3%;
  color: #FFFFFF;
  a:hover{
    text-decoration: none !important;
    color: #FFFFFF;
  }
  ul{
    margin-top: 20px;
    li.title_footer{
      font-weight: bolder;
    }
    li.option_footer{
      cursor: pointer;
    }
  }
}

//END FOOTER